$primary: pink;
$secondary: orange;
$warning: green;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$custom-theme-colors: (
    "maincolor": red,
    "other": blue
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors );

@import  "../node_modules/bootstrap/scss/bootstrap.scss";